Programming Log:

3/19
Justin: 25 min
Pranav: 25 min

3/20
Justin: 30 min
Pranav: 30 min
Pranav: 30 min
Abhijit: 25 min
Justin: 30 min

3/21
Pranav: 35 min
Justin: 35 min
Abhijit: 30 min
Justin: 25 min
Abhijit: 30 min
Pranav: 30 min

3/22
Justin: 30 min
Pranav: 30 min
Abhijit: 30 min
Justin: 30 min
Pranav: 25 min

3/23
Pranav: 30 min
Justin: 30 min
Abhijit: 30 min
Pranav: 30 min
Justin: 30 min
Abhijit: 30 min

3/24
Abhijit: 30 min
Justin: 30 min
Pranav: 30 min

3/25
Abhijit: 30 min
Pranav: 30 min
Justin: 30 min
Abhijit: 20 min

3/30
Justin: 30 min
Pranav: 30 min
Abhijit: 30 min
Justin: 30 min
Pranav: 30 min
Abhijit: 30 min
Justin: 15 min

3/31
Justin: 30 min
Pranav: 30 min